<link rel="stylesheet" href="app.component.scss">
<div class="container">
  <div class="row my-5">
    <div class="col-12 text-center">
      <h2>To-Do List</h2>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-6 mx-auto position-relative">
          <div class="position-absolute" style="right: 12px; top: 0;">
            <button class="btn btn-add" (click)="addItem(itemName.value)">Ekle</button>
          </div>
          <input class="textBox-input w-100" #itemName required>
        </div>
      </div>
    </div>
    <div class="col-12 mt-3">
      <div class="row" *ngFor="let item of toDoService.toDos">
        <div class="col-6 mx-auto">
          <div class="row list-cart-item">
            <div class="col-1 text-center align-self-center">
              <input type="checkbox" [(ngModel)]="item.isDone">
            </div>
            <div class="col-7 align-self-center itemName" [class]="item.isDone==true?'line':''">
              {{item.name}}
            </div>
            <div class="col-4 text-right align-self-center">
              <button (click)="deleteItem(item.id)" class="btn btn-danger">x</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
